In [6]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sbn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

df = pd.read_csv('spam.tsv', sep='\t') 
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [7]:
df.tail()

     label                                            message  length  punct
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

In [8]:
df['label'].value_counts()

label
ham     4825
spam     747
Name: count, dtype: int64

In [9]:
df['label'].value_counts() / len(df)

label
ham     0.865937
spam    0.134063
Name: count, dtype: float64

In [11]:
ham = df [df['label'] == 'ham']
print(ham)

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
6      ham  Even my brother is not like to speak with me. ...      77      2
...    ...                                                ...     ...    ...
5565   ham                                       Huh y lei...      12      3
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[4825 rows x 4 columns]

In [12]:
spam = df[df['label'] == 'spam']
print(spam)

     label                                            message  length  punct
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
5     spam  FreeMsg Hey there darling it's been 3 week's n...     147      8
8     spam  WINNER!! As a valued network customer you have...     157      6
9     spam  Had your mobile 11 months or more? U R entitle...     154      2
11    spam  SIX chances to win CASH! From 100 to 20,000 po...     136      8
...    ...                                                ...     ...    ...
5537  spam  Want explicit SEX in 30 secs? Ring 02073162414...      90      3
5540  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...     158      5
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...     160      8
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...     147      3
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8

[747 rows x 4 columns]

In [14]:
df.isna()

      label  message  length  punct
0     False    False   False  False
1     False    False   False  False
2     False    False   False  False
3     False    False   False  False
4     False    False   False  False
...     ...      ...     ...    ...
5567  False    False   False  False
5568  False    False   False  False
5569  False    False   False  False
5570  False    False   False  False
5571  False    False   False  False

[5572 rows x 4 columns]

In [15]:
df.isna().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [16]:
df.tail()

     label                                            message  length  punct
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

In [17]:
df.describe()

            length        punct
count  5572.000000  5572.000000
mean     80.489950     4.177495
std      59.942907     4.623919
min       2.000000     0.000000
25%      36.000000     2.000000
50%      62.000000     3.000000
75%     122.000000     6.000000
max     910.000000   133.000000

Executing df[‘label’].value_counts() again

In [19]:
df['label'].value_counts()

label
ham     4825
spam     747
Name: count, dtype: int64